*{
    padding: 0;
    margin: 0;
}
.navbar{
    background: rgb(59,64,63);
    background: linear-gradient(90deg, rgba(59,64,63,1) 0%, rgb(72, 126, 129) 50%, rgba(61, 67, 67, 0.897) 100%);
    color: white;
    font-family: cursive;
}
a{
    text-decoration: none;
}
.navbar-nav{
    color: white;
}
.nav-link{
    color: silver;
    font-size: 17PX;
    font-family: sans-serif;
    letter-spacing: 1PX;
}
.novels{
    color: white;
}

.navbar-manga{
    color: white;
    font-size: 27px;
    letter-spacing: 1PX;
}
.logo-letter{
    color: goldenrod;
}
.search-bar{
    border-radius: 20PX;
    border: 2PX solid white;
    background-color: transparent;
}

.search-bar:focus,
.search-bar:active {
    background-color: transparent;
    box-shadow: none; /* Optional: Remove any box shadow on focus/active state */
    color: white;
    border: 2PX solid white;
}

.search-bar::placeholder{
    color: white;
    letter-spacing: 1PX;
}
.btn{
    border: 2PX solid white;
    background-color: transparent;
    color: white;

}
.btn:hover{
    border: 2PX solid white;
    background-color: black;

}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22' fill='none'/%3e%3c/svg%3e");
}
.navbar-toggler{
    border: 2px solid black;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15PX 0;
    margin-top: ;
    width: 100%;
    font-family: cursive;
    
}
.popular-new{
    display: flex;
    gap: 20PX;
    padding: 15PX 50PX;
    
}
.popular-new p{
    font-size: 23PX;
    text-transform: capitalize;
    cursor: pointer;
}
.popular-new p.popular{
    border-bottom: 3PX solid black;
    background-color: ;
    width: 86PX;
    
}
.contain{
    display: flex;
    gap: 23PX;
    width: 550PX;
    height: 250PX;
    background-color: ;
    
}
.content{
    padding: 10Px 0px;
}
.contain1{
    display: flex;
    gap: 23PX;
    width: 550PX;
    height: 250PX;
    background-color: ;
    flex-shrink: 0;
}

.category{
    display: flex;
    gap: 7Px;
    padding: 4PX 0PX;
}
.span-category{
    border: 1Px solid blue;
    border-radius: 20PX;
    padding: 1PX 7PX;
    color: blue;
    font-size: 13PX;
    
    
    
}
img{
    width: 170Px;
    height: 230px;
    border-radius: 10PX;
}
p{
    font-size: 16PX;
    font-weight: 500;
}

  
  